@model ProfileServiceModel
@{
    ViewBag.Title = "Finish your profile";
}

<div id="content" class="pmd-content admin section-container">
    <h1 class="text-center">@ViewBag.Title</h1>
    <div class="page-content  mt-3">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="about">
                <div class="card pmd-card">
                    <form method="post">
                        <div class="details-tab">
                            <h3 class="card-title">Basic Information</h3>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group mb-3">
                                        <label asp-for="MiddleName" class="col-form-label control-label">Middle Name</label>
                                        <input asp-for="MiddleName" type="text" class="form-control">
                                        <span asp-validation-for="MiddleName" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group mb-3">
                                        <label asp-for="Phone" class="col-form-label control-label">Phone</label>
                                        <input asp-for="Phone" type="text" class="form-control">
                                        <span asp-validation-for="Phone" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group mb-3">
                                        <label asp-for="ImageUrl" class="col-form-label control-label">Picture URL</label>
                                        <input asp-for="ImageUrl" type="url" class="form-control">
                                        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                                    </div>
                                </div>
                            
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-check">
                                        <input asp-for="Gender" class="form-check-input" type="radio" value="Male" name="Gender" />Male
                                        <span asp-validation-for="Gender" class="small text-danger"></span>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="Gender" class="form-check-input" type="radio" value="Female" id="Gender" name="Gender" />Female
                                        <span asp-validation-for="Gender" class="small text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <!-- Employee Information -->
                            <div class="details-tab">
                                <h3 class="card-title">Employee Information</h3>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="form-group mb-3">
                                            <label asp-for="JobTitle" class="col-form-label control-label">Job Title</label>
                                            <input asp-for="JobTitle" type="text" class="form-control">
                                            <span asp-validation-for="JobTitle" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <div class="form-group pmd-textfield">
                                            <label asp-for="HireDate" class="col-form-label control-label">Hire Date</label>
                                            <input asp-for="HireDate" type="date" value="@DateTime.UtcNow" class="form-control" id="joindate-picker">
                                            <span asp-validation-for="HireDate" class="small text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3">
                                        <div class="form-group mb-3">
                                            <label asp-for="DepartmentId">Department</label>
                                            <select asp-for="DepartmentId" class="form-control">
                                                <option></option>
                                                @foreach (var department in Model.Departments)
                                                {
                                                    <option value="@department.Id">@department.Name</option>
                                                }
                                            </select>
                                            <span asp-validation-for="DepartmentId" class="small text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3">
                                        <div class="form-group mb-3">
                                            <label asp-for="ManagerId">Reporting Employee</label>
                                            <select asp-for="ManagerId" class="form-control">
                                                <option></option>
                                                @foreach (var manager in Model.Managers)
                                                {
                                                    <option value="@manager.Id">@manager.FirstName @manager.LastName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="ManagerId" class="small text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Contact Information -->
                            <div class="details-tab">
                                <h3 class="card-title">Contact Information</h3>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="form-group mb-3">
                                            <label asp-for="StreetName" class="col-form-label control-label">Address Line </label>
                                            <input asp-for="StreetName" type="text" class="form-control">
                                            <span asp-validation-for="StreetName" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="form-group mb-3">
                                            <label asp-for="PostCode" for="zipcode" class="col-form-label control-label">Zip Code</label>
                                            <input asp-for="PostCode" type="text" class="form-control" value="" id="zipcode">
                                            <span asp-validation-for="PostCode" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="form-group mb-3">
                                            <label asp-for="TownName" for="city" class="col-form-label control-label">City</label>
                                            <input asp-for="TownName" type="text" class="form-control" value="" id="city">
                                            <span asp-validation-for="TownName" class="small text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pmd-card-border">
                                <input class="btn pmd-ripple-effect btn-primary pmd-btn-raised" type="submit" value="Save" />
                                <input class="btn pmd-ripple-effect btn-outline-secondary" type="reset" value="Reset" />

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}