@model AddEmployeeViewModel
@{
    ViewBag.Title = "Add Employee";
}

<div id="content" class="pmd-content admin section-container">
    <h1 class="text-center">@ViewBag.Title</h1>
    <div class="page-content  mt-3">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="about">
                <div class="card pmd-card">
                    <form method="post">
                        <div class="details-tab">
                            <h3 class="card-title">Basic Information</h3>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label asp-for="Firstname" class="mdl-textfield__label">First Name</label>
                                        <input asp-for="Firstname" type="text" class="mdl-textfield__input">
                                        <span asp-validation-for="Firstname" class="small text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label asp-for="Lastname" class="mdl-textfield__label">Last Name</label>
                                        <input asp-for="Lastname" type="text" class="mdl-textfield__input">
                                        <span asp-validation-for="Lastname" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label asp-for="MiddleName" class="mdl-textfield__label">Middle Name</label>
                                        <input asp-for="MiddleName" type="text" class="mdl-textfield__input">
                                        <span asp-validation-for="MiddleName" class="small text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label asp-for="Phone" class="mdl-textfield__label">Phone</label>
                                        <input asp-for="Phone" type="text" class="mdl-textfield__input">
                                        <span asp-validation-for="Phone" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label asp-for="Email" class="mdl-textfield__label">Email</label>
                                        <input asp-for="Email" type="email" class="mdl-textfield__input">
                                        <span asp-validation-for="Email" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label asp-for="ImageUrl" class="mdl-textfield__label">Picture URL</label>
                                        <input asp-for="ImageUrl" type="url"class="mdl-textfield__input">
                                        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield">
                                        <label asp-for="DateOfBirth" class="col-form-label">Date of Birth</label>
                                        <input asp-for="DateOfBirth" type="date" value="1995-04-27" class="mdl-textfield__input">
                                        <span asp-validation-for="DateOfBirth" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="custom-control custom-radio pmd-radio custom-control-inline">
                                        <input asp-for="Gender" type="radio" value="Male" id="Gender" name="Gender" />Male
                                        <input asp-for="Gender" type="radio" value="Female" id="Gender" name="Gender" />Female
                                        <span asp-validation-for="Gender" class="small text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Employee Information -->
                            <div class="details-tab">
                                <h3 class="card-title">Employee Information</h3>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label asp-for="JobTitle" class="mdl-textfield__label">Job Title</label>
                                            <input asp-for="JobTitle" type="text" class="mdl-textfield__input">
                                            <span asp-validation-for="JobTitle" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <div class="form-group pmd-textfield">
                                            <label asp-for="HireDate" >Hire Date</label>
                                            <input asp-for="HireDate" type="date" value="@DateTime.UtcNow" class="form-control" id="joindate-picker">
                                            <span asp-validation-for="HireDate" class="small text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label asp-for="DepartmentId" class="mdl-textfield__label">Department</label>
                                            <select asp-for="DepartmentId" class="mdl-textfield__input">
                                                <option></option>
                                                @foreach (var department in Model.Departments)
                                                {
                                                    <option value="@department.Id">@department.Name</option>
                                                }
                                            </select>
                                            <span asp-validation-for="DepartmentId" class="small text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label asp-for="ManagerId" class="mdl-textfield__label">Reporting Employee</label>
                                            <select asp-for="ManagerId" class="mdl-textfield__input">
                                                <option></option>
                                                @foreach (var manager in Model.Managers)
                                                {
                                                    <option value="@manager.Id">@manager.FirstName @manager.LastName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="ManagerId" class="small text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Contact Information -->
                            <div class="details-tab">
                                <h3 class="card-title">Contact Information</h3>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label asp-for="StreetName"class="mdl-textfield__label">Address Line </label>
                                            <input asp-for="StreetName" type="text" class="mdl-textfield__input">
                                            <span asp-validation-for="StreetName" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label asp-for="PostCode" for="zipcode" class="mdl-textfield__label">Zip Code</label>
                                            <input asp-for="PostCode" type="text" class="mdl-textfield__input" value="" id="zipcode">
                                            <span asp-validation-for="PostCode" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label asp-for="TownName" for="city" class="mdl-textfield__label">City</label>
                                            <input asp-for="TownName" type="text" class="mdl-textfield__input" value="" id="city">
                                            <span asp-validation-for="TownName" class="small text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer pmd-card-border">
                                <input class="btn pmd-ripple-effect btn-primary pmd-btn-raised" type="submit" value="Save" />
                                <input class="btn pmd-ripple-effect btn-outline-secondary" type="reset" value="Reset" />

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}