@using System.Globalization
@model IEnumerable<AllEmployeesServiceModel>
@{
    ViewBag.Title = "All";
}

<div id="content" class="pmd-content section-container">
    <h1 class="text-center">Employees for Approval</h1>
    <div class="page-content  mt-5">
        <div class="tab-pane active show">
            <table class="table table-hover">
                @if (!Model.Any())
                {
                    <div class="text-center align-self-center">
                        <svg version="1.1" id="Layer_1" x="0px" y="0px" width="100px" height="100px" viewBox="-58 -58 140 140" enable-background="new -58 -58 140 140" xml:space="preserve">
                        <circle fill="#E7E9EF" cx="12" cy="12" r="70"></circle>
                        <g opacity="0.4">
                        <g id="XMLID_233_">
                        
                        <circle id="XMLID_235_" fill="none" stroke="#3075BA" stroke-width="6" stroke-miterlimit="10" cx="11.998" cy="-3.917" r="20.464"></circle>
                                    </g>
                        <g id="XMLID_236_">
                        <path id="XMLID_237_" fill="none" stroke="#3075BA" stroke-width="6" stroke-miterlimit="10" d="M12,16.55
                            c-17.581,0-31.833,14.249-31.833,31.831h63.667C43.834,30.799,29.58,16.55,12,16.55z"></path>
                                    </g>
                                </g>
                            </svg>
                        <h2 class="mt-3 mb-0">There isn`t any Employees for Approval!</h2>
                        <p>Do you want to add a new one?</p>
                        <a asp-action="Add" class="btn btn-primary pmd-ripple-effect pmd-btn-raised">Add Employee</a>
                    </div>
                }
                else
                {
                    <thead class="thead-light">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date of Birth</th>
                            <th>Email Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    @foreach (var employee in Model)
                    {
                        <tbody>
                            <tr role="row">
                                <td data-title="First Name">@employee.FirstName</td>
                                <td data-title="Last Name">@employee.LastName</td>
                                <td data-title="Date of Birth">@employee.DateOfBirth.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)</td>
                                <td data-title="Email Address">@employee.Email</td>
                                <td data-title="Actions">
                                    <a href="@Url.Action($"Approve", "Employee", new {id = $"{employee.Id}", area = "Admin"}) " class="btn btn-primary pmd-ripple-effect btn-sm mt-3">Approve</a>
                                    <a href="@Url.Action($"Delete", "Employee", new {id = $"{employee.Id}", area = "Admin"})" class="btn btn-danger pmd-ripple-effect btn-sm mt-3">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                }
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}