@using System.Globalization
@model ICollection<ShiftQueryModel>

@{ ViewBag.Title = "Shifts"; }

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


<div id="content" class="pmd-content section-container center">
    <h1 class="text-center">@ViewBag.Title</h1>
    @if (!Model.Any())
    {
<div class="text-center align-self-center mt-5">
    <svg version="1.1" id="Layer_1" x="0px" y="0px" width="100px" height="100px" viewBox="-58 -58 140 140" enable-background="new -58 -58 140 140" xml:space="preserve">
    <circle fill="#E7E9EF" cx="12" cy="12" r="70"></circle>
    <g opacity="0.4">
    <g id="XMLID_233_">

    <circle id="XMLID_235_" fill="none" stroke="#3075BA" stroke-width="6" stroke-miterlimit="10" cx="11.998" cy="-3.917" r="20.464"></circle>
                    </g>
    <g id="XMLID_236_">
    <path id="XMLID_237_" fill="none" stroke="#3075BA" stroke-width="6" stroke-miterlimit="10" d="M12,16.55
                            c-17.581,0-31.833,14.249-31.833,31.831h63.667C43.834,30.799,29.58,16.55,12,16.55z"></path>
                    </g>
                </g>
            </svg>
    <h2 class="mt-3 mb-3">You haven`t got any Shifts yet!</h2>
</div> }
else
{
<div class="container">
    @foreach (var shift in Model)
    {
<div class="row mb-5">
    <div class="col-md-10">
        <div class="card shadow">
            <div class="card-body">
                <div class="row text-center ">
                    <div class="col-md-1 mr-2">
                        <i class="fa fa-tachometer fa-2x "></i>
                    </div>
                    <div class="col-md-6">
                        <h5>@shift.Location.CompanyName</h5>

                        <h6>on @shift.ShiftDate.ToString("D", CultureInfo.InvariantCulture)</h6>
                        <p>From: @shift.StartTime to @shift.FinishTime</p>
                    </div>
                    <div class="col-md-4">
                        <a asp-controller="Shifts" asp-action="Details" asp-route-id="@shift.Id" type="button" class="btn btn-outline-info btn-md">View more details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
</div>}
</div>
