@using System.Globalization
@model ShiftAssignModel
@{
    ViewBag.Title = "Shift details";
}

<div id="content" class="pmd-content section-container center">
    <br />
    <div class="container">
        <div class="section">
            <form method="post">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="page-header text-center">
                            <h2 id="tables">@ViewBag.Title for: </h2>
                            <h2 class="font-weight-bold font-italic">@Model.Shift.Location.CompanyName</h2>
                            <br />
                        </div>
                        <div class="component">
                            <table class="table table-hover">
                                <thead class=" table-active">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Shift Times</th>
                                        <th scope="col">Working Hours</th>
                                        <th scope="col">Full Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-light">
                                        <td>@Model.Shift.ShiftDate.ToString("M", CultureInfo.InvariantCulture)</td>
                                        <td>@Model.Shift.RatePerHour $ </td>
                                        <td>@Model.Shift.StartTime - @Model.Shift.FinishTime</td>
                                        <td>@Model.Shift.HoursWorking</td>

                                        <td>
                                            @Model.Shift.Location.Town
                                            @Model.Shift.Location.StreetName № @Model.Shift.Location.StreetNumber, @Model.Shift.Location.PostCode
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <h2 class="font-weight-bold font-italic">Assign to:</h2>
                            <select asp-for="@Model.EmployeeId" class="form-control">
                                @foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@employee.UserFirstName @employee.UserLastName - @employee.JobTitle</option>
                                }
                            </select>
                            <br />
                            <button asp-area="Admin" asp-controller="Shift" asp-action="Assign" asp-route-id="@Model.Shift.Id" , asp-route-employeeId="@Model.EmployeeId"
                                    type="submit" class="btn btn-outline-info btn-sm float-sm-right">
                                Assign to Employee
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
